html,body {
 width:100%; height:100%; margin:0; padding: 0; border:none;
 overflow: hidden;
}
body { background: #008; }

/* Positioning */
#game, #buttons, #balloons, #level, #mask, #awards, #sprouts, #ruler,
#clouds, #nell, #menu, #rotate {
 position: absolute;
 left: 0; right: 0;
 overflow: hidden;
}
#level { bottom: 0; height: 400%; }
#game { top: 0; bottom: 160px; display: none; }
#buttons { bottom: 0; height: 160px; display: none; }
#balloons, #awards, #clouds, #nell { height: 25%; bottom: 0; }
#buttons {
 background: black;
 text-align: center;
 white-space: nowrap;
}
#buttons > a {
 display: inline-block;
 width: 200px; height: 160px;
}
#buttons > a {
 background-image: url('images/button-overlay.png');
 background-repeat: no-repeat;
 padding:0; margin: 0;
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 tap-highlight-color: rgba(0,0,0,0);
}
#buttons > a.black  { background-color: #030303; }
#buttons > a.lilac  { background-color: #ce72b9; }
#buttons > a.orange { background-color: #ef7c11; }
#buttons > a.white  { background-color: #cacaca; }
#buttons > a.yellow { background-color: #ffff00; }

#buttons > a.hover {
 background-image: url('images/button-overlay-hover.png');
}

#mask {
 top: 0; bottom: 0;
 background: #000;
}
#video {
 position: absolute;
 left: 0; top: 50%;
 /* 1280x720 :: 800x450 .. plus 10px border */
 width: 100%; height: 460px;
 margin-top: -230px;
 background: #fff;
 text-align: center;
 white-space: nowrap;
 /* overflow style very important, keeps us from 'zooming' when you
  * double tap on (hidden!) #video element, despite pointer-events: none
  * *and* overflow: hidden style on <body>. */
 overflow: hidden;
}
#video > * {
 display: inline-block;
 width: 800px; height: 450px;
 border: 5px solid black;
}
#mask, #video, #menu, #rotate {
 /* transition effect knowledge gleaned from:
  *   http://www.greywyvern.com/?post=337
  * thanks! */
 -webkit-transition: visibility 0s linear 700ms, opacity 700ms ease-in-out;
 -moz-transition: visibility 0s linear 700ms, opacity 700ms ease-in-out;
 transition: visibility 0s linear 700ms, opacity 700ms ease-in-out;
 opacity: 0;
 visibility: hidden;
}
.video #mask,
.rotate #mask { opacity: 0.8; }
.video #video,
.menu #menu,
.rotate #rotate { opacity: 1; }
.video #mask,
.video #video,
.rotate #mask,
.rotate #rotate,
.menu #menu {
  visibility: visible;
  /* change the visibility property immediately */
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
.video #game *,
.paused #game * {
 -webkit-animation-play-state: paused;
 -moz-animation-play-state: paused;
}

.game #game,
.game #buttons { display: block; opacity: 1; }

#menu {
  top: 0; bottom: 0;
}

#level, #balloons, #awards {
 -webkit-transition: -webkit-transform 1s ease-in-out;
 -moz-transition: -moz-transform 1s ease-in-out;
 transition: transform 1s ease-in-out;
}
#level.ground {       -webkit-transform: translate3d(0,0,0); }
#level.troposphere {  -webkit-transform: translate3d(0,25%,0); }
#level.stratosphere { -webkit-transform: translate3d(0,50%,0); }
#level.mesosphere {   -webkit-transform: translate3d(0,75%,0); }
#level.ground #balloons,
#level.ground #awards {  -webkit-transform: translate3d(0,0,0); }
#level.troposphere #balloons,
#level.troposphere #awards { -webkit-transform: translate3d(0,-100%,0); }
#level.stratosphere #balloons,
#level.stratosphere #awards { -webkit-transform: translate3d(0,-200%,0); }
#level.mesosphere #balloons,
#level.mesosphere #awards { -webkit-transform: translate3d(0,-300%,0); }

/* Graphics */
#background,
#background > div {
  position: absolute;
  left: 0; right: 0;
}
#background {
  top: 0; bottom: 0;
}
#background > div {
  height: 25%;
}
#background > .ground       { bottom: 0; }
#background > .troposphere  { bottom: 25%; }
#background > .stratosphere { bottom: 50%; }
#background > .mesosphere   { bottom: 75%; }
.grass #background {
  background-color: #000;
  background-image: url('images/grass-back.png');
  background-repeat: repeat-x;
  background-position: bottom;
  /* CSS3 gradient */
  background-image: -webkit-linear-gradient(to top, #0ff, #0ff 9%, #00f 17%, #00f 28%, #008 50%, #000 100%);
  background-image: -moz-linear-gradient(to top, #0ff, #0ff 9%, #00f 17%, #00f 28%, #008 50%, #000 100%);
}
.grass #background .satellite1,
.grass #background .satellite2,
.grass #background .cloud {
  position: absolute;
  width: 200%; min-width: 1600px;
  left: 0;
  background-repeat: repeat-x;
}

.grass #background .satellite1 {
  height: 362px;
  background-image: url('images/satellite1.png');
  bottom: 25%;
}
.grass #background .satellite2 {
  height: 117px;
  background-image: url('images/satellite2.png');
  top: 25%;
}

.grass #background .cloud {
  height: 162px;
  background-image: url('images/cloud-small.png');
}
.grass #background .c1 { background-position: 166px 0; bottom: 75%; }
.grass #background .c2 { background-position: -100px 0; bottom: 50%; }
.grass #background .c3 { background-position: 433px 0; bottom: 25%; }

.grass #background .stars {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: url('images/star-tile.png') repeat;
}
#awards .strip, #sprouts {
  text-align: center;
  white-space: nowrap;
}
.grass #awards .strip {
  position: absolute;
  left: 0; right: 0;
  height: 124px; bottom: 2px;
}
.grass #awards .award, .grass #sprouts .award {
  display: inline-block;
  width: 90px;
  background-repeat: no-repeat;
  margin-left: 5px; margin-right: 5px;
}
.grass #awards .award {
  height: 124px;
  background-image: url('images/award.png'); /* blank fallback image */
  -webkit-transform: translate3d(0,138px,0);
}
.grass #awards .award.a1 {
  background-image: url('images/award1.png');
}
.grass #awards .award.a2 {
  background-image: url('images/award2.png');
}
.grass #awards .award.a3 {
  background-image: url('images/award3.png');
}
.grass #awards .award.a4 {
  background-image: url('images/award4.png');
}
.grass #awards .award.a5 {
  background-image: url('images/award5.png');
}
.grass #awards .award.a6 {
  background-image: url('images/award6.png');
}
.grass #awards .award.a7 {
  background-image: url('images/award7.png');
}
.grass #awards .award.a8 {
  background-image: url('images/award8.png');
}
.grass #awards .award.show {
  -webkit-transform: translate3d(0,0,0) !important;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.5s;
  -webkit-transition-timing-function: ease-in-out;

  -moz-transform: translate(0,0) !important;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1.5s;
  -moz-transition-timing-function: ease-in-out;
}
.grass #awards .award.flex {
  position: absolute;
  top: 0; left: 0;
  display: none;
}
.grass #sprouts .award {
  background-image: url('images/sprout1-lg.png');
  background-position: bottom right;
  width: 238px; height: 885px;
  /* adjust to effective width of 100px to match shields */
  margin-left: -20px; margin-right: -118px;
  -webkit-transform: translate3d(0,138px,0) scale(.143,.078);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.5s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transform-origin: 70px bottom;

  -moz-transform: translate(0,138px) scale(.143,.078);
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1.5s;
  -moz-transition-timing-function: ease-in-out;
  -moz-transform-origin: 70px bottom;
}
.grass #sprouts .award.show {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate(0,0);
}
.grass #sprouts {
  height: 885px;
  bottom: 104px;
}

#ruler {
  top: 0; bottom: 0;
}
#ruler > div {
  position: absolute;
  left: 0; width: 100%;
  height: 25%;
}
#ruler > .background,
#ruler .foreground {
  position: absolute;
  bottom: 0; left: 0; width: 38px; height: 100%;
  background: url('images/ruler-tile-dk.png') repeat-y bottom left;
}
#ruler .foreground {
  height: 100%; /* override on element */
  background-image: url('images/ruler-tile.png');
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  transition: height 1s ease;
}
#ruler > .ground       { bottom: 0; }
#ruler > .troposphere  { bottom: 25%; }
#ruler > .stratosphere { bottom: 50%; }
#ruler > .mesosphere   { bottom: 75%; }
#ruler .stars {
  position: absolute;
  left: 35px;
  background: url('images/star-small-outline.png') repeat-x;
  height: 37px;
}
#ruler .stars.one {
  top: 20.5%;
  width: 41px;
}
#ruler .stars.two {
  top: 45.9%;
  width: 82px;
}
#ruler .stars.three {
  top: 71.3%;
  width: 123px;
}
#ruler .stars.highlight {
  background-image: url('images/star-small.png');
}

/* make sure #nell>div gets pointer events */
#clouds, #clouds > *, #sprouts, #ruler, #ruler > *, #balloons, #awards,
#mask, #video, #rotate {
  pointer-events: none;
}
/* don't highlight nell when she is tapped */
#nell, #nell * {
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 tap-highlight-color: rgba(0,0,0,0);
}
#nell {
  overflow: visible;
}
#nell > div {
  position: absolute; right: 0;
}
#nell > .ground { bottom: 0; }
#nell > .troposphere { bottom: 100%; }
#nell > .stratosphere { bottom: 200%; }
#nell > .mesosphere { bottom: 300%; }

#nell > .ground {
  width: 197px; height: 466px;
}
#nell > .ground > .nell {
  position: absolute; right: -124px; bottom: 15px;
}
#nell > .troposphere {
  width: 260px; height: 865px;
}
.nells .hotair {
  width: 510px; height: 825px;
}
.nells .hotair .nellscaler {
  position: absolute; right: 183px; bottom: 16px;
  clip: rect(auto,auto,220px,auto);
  -webkit-transform-origin: bottom right;
  -webkit-transform: scale3d(0.62,0.62,1);
  -moz-transform-origin: bottom right;
  -moz-transform: scale3d(0.62,0.62,1);
}
.nells .hotair .nell {
  position: absolute; right: 0; bottom: 0;
}
.nells .hotair .foreground {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  background: url('images/hotair.png') no-repeat;
}
#nell > .troposphere > .hotair {
  position: absolute;
  bottom: 39px; right: -250px;
}
#nell > .stratosphere {
  width: 561px; height: 305px;
  -webkit-transform: rotate(8deg) translate3d(-10px,0,0);
  -moz-transform: rotate(8deg) translate(-10px,0);
}
#nell > .stratosphere .jet {
  position: absolute;
  bottom: 0; right: 0;
}
.nells .jet .nellscaler {
  position: absolute;
  bottom: 117px; right: 138px;
  clip: rect(52px,auto,220px,auto);
  -webkit-transform-origin: bottom left;
  -webkit-transform: scale3d(0.3,0.3,1);
  -moz-transform-origin: bottom left;
  -moz-transform: scale3d(0.3,0.3,1);
}
.nells .jet {
  width: 561px; height: 305px;
}
.nells .jet .foreground,
.nells .jet .background {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-repeat: no-repeat;
}

.nells .jet .background {
  background-image: url('images/jet1.png');
}
.nells .jet .foreground {
  background-image: url('images/jet2.png');
}
#nell > .mesosphere {
  width: 255px; height: 626px;

}
#nell > .mesosphere .astronaut {
   position: absolute;
   bottom: 153px; left: 0;
}
.nells .astronaut {
   width: 393px; height: 473px;
   -webkit-transform-origin: 127px 400px;
   -moz-transform-origin: 127px 400px;
}
.nells .astronaut .nellscaler {
  position: absolute; top: 36px; left: -99px;
  -webkit-transform-origin: top center;
  -webkit-transform: rotate(-39.5deg);
  -moz-transform-origin: top center;
  -moz-transform: rotate(-39.5deg);
}
.nells .astronaut .foreground,
.nells .astronaut .background {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-repeat: no-repeat;
}
.nells .astronaut .background {
  background-image: url('images/astronaut1.png');
}
.nells .astronaut .foreground {
  background-image: url('images/astronaut2.png');
}
/* layout for nell parts */
.nells .nell,
.nells .nellscaler {
  width: 321px; height: 466px;
}
.nells .nell > div {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-repeat: no-repeat;
}
.nells .nell .hair { background-image: url('images/nell-hair.png'); }
.nells .nell .body { background-image: url('images/nell-body.png'); }
.nells .nell .head { background-image: url('images/nell-head.png'); }

.nells .nell .body, /* default */
.nells .nell .head, /* default */
.n0 .nells .nell .body,
.n0 .nells .nell .head { background-position: 0px 0px; }
.n1 .nells .nell .body,
.n1 .nells .nell .head { background-position: -321px 0px; }
.n2 .nells .nell .body,
.n2 .nells .nell .head { background-position: -642px 0px; }
.n3 .nells .nell .body,
.n3 .nells .nell .head { background-position: -963px 0px; }
.n4 .nells .nell .body,
.n4 .nells .nell .head { background-position: -1284px 0px; }
.n5 .nells .nell .body,
.n5 .nells .nell .head { background-position: -1605px 0px; }
.n6 .nells .nell .body,
.n6 .nells .nell .head { background-position: -1926px 0px; }
.n7 .nells .nell .body,
.n7 .nells .nell .head { background-position: -2247px 0px; }
.n8 .nells .nell .body,
.n8 .nells .nell .head { background-position: -2568px 0px; }
.n9 .nells .nell .body,
.n9 .nells .nell .head { background-position: -2889px 0px; }
.n10 .nells .nell .body,
.n10 .nells .nell .head { background-position: -3210px 0px; }

.grass #clouds {
  /* bias cloud level up so it's easy to center clouds on altitude boundaries */
  bottom: 152px;
  /* this makes the grass peek out the bottom, so allow that */
  overflow: visible;
}
.grass #clouds > div {
  position: absolute;
  left: 0; right: 0; height: 294px;
  background: url('images/clouds.png') repeat-x;
  background-position: -200px 0;
}
.grass #clouds > .troposphere {
  top: 0;
}
.grass #clouds > .stratosphere {
  top: -100%;
}
.grass #clouds > .mesosphere {
  top: -200%;
  -webkit-animation-delay: -1s;
}
.grass #clouds > .bug {
  position: absolute;
  bottom: -152px; height: 388px;
  left: 227px; width: 151px;
  background: url('images/grass-hero.png') no-repeat;
}
.grass #clouds > .grass {
  height: 243px; bottom: -152px;
  background: url('images/grass-front.png') repeat-x;
}
.grass #clouds > .stars {
  top: -300%;
  background-image: url('images/star.png');
  background-position: bottom left;
}

#balloons > div, #balloons .balloon, #balloons .payload {
  position: absolute;
  background-repeat: no-repeat;
}
#balloons > div {
  top: 0; left: 0;
  /* width & height control relation between balloon & payload */
  width: 174px; height: 386px;
}
#balloons .balloon {
  width: 140px; height: 275px;
  top: 0; left: 0;
}
#balloons .payload {
  bottom: 0; right: 0;
  width: 150px; height: 120px;
}
#balloons .payload /* default */ {
  background-image: url('images/tag-white-empty.png');
}
#balloons .balloon, /* default */
#balloons > .white > .balloon {
  background-image: url('images/balloon-white.png');
}
#balloons > .black > .balloon {
  background-image: url('images/balloon-black.png');
}
#balloons > .lilac > .balloon {
  background-image: url('images/balloon-lilac.png');
}
#balloons > .orange > .balloon {
  background-image: url('images/balloon-orange.png');
}
#balloons > .yellow > .balloon {
  background-image: url('images/balloon-yellow.png');
}
#balloons > .popped > .balloon {
  background-image: url('images/bang.png') !important;
}

/* payloads for "grass" level */
.grass.ground #balloons .payload { display: none; }
.grass.troposphere #balloons .black .payload {
  background-image: url('images/tag-black-bat.png');
}
.grass.troposphere #balloons .lilac .payload {
  background-image: url('images/tag-lilac-mat.png');
}
.grass.troposphere #balloons .orange .payload {
  background-image: url('images/tag-orange-orange.png');
}
.grass.troposphere #balloons .yellow .payload {
  background-image: url('images/tag-yellow-banana.png');
}

.grass.stratosphere #balloons .balloon {
  background-image: url('images/balloon-white.png');
}
.grass.stratosphere #balloons .black .payload {
  background-image: url('images/tag-white-bat.png');
}
.grass.stratosphere #balloons .lilac .payload {
  background-image: url('images/tag-white-mat.png');
}
.grass.stratosphere #balloons .orange .payload {
  background-image: url('images/tag-white-orange.png');
}
.grass.stratosphere #balloons .yellow .payload {
  background-image: url('images/tag-white-banana.png');
}

.grass.mesosphere #balloons .balloon {
  background-image: url('images/balloon-white.png');
}
.grass.mesosphere #balloons .black .payload {
  background-image: url('images/tag-white-bat-bw.png');
}
.grass.mesosphere #balloons .lilac .payload {
  background-image: url('images/tag-white-mat-bw.png');
}
.grass.mesosphere #balloons .orange .payload {
  background-image: url('images/tag-white-orange-bw.png');
}
.grass.mesosphere #balloons .yellow .payload {
  background-image: url('images/tag-white-banana-bw.png');
}


/* ------------------ balloon animations ------------------- */
@-webkit-keyframes balloon-squirt {
   0% {
    -webkit-transform: translate3d(0,0,0) rotate(0deg);
   }
   1% {
    -webkit-transform: translate3d(71px,-71px,0) rotate(40deg);
   }
   2% {
    -webkit-transform: translate3d(190px,-120px,0) rotate(90deg);
   }
   3% {
    -webkit-transform: translate3d(350px,10px,0) rotate(160deg);
   }
   4% {
    -webkit-transform: translate3d(370px,250px,0) rotate(180deg);
   }
   5% {
    -webkit-transform: translate3d(300px,500px,0) rotate(230deg);
   }
   6% {
    -webkit-transform: translate3d(100px,700px,0) rotate(250deg);
   }
   7% {
    -webkit-transform: translate3d(-400px,750px,0) rotate(275deg);
   }
   8% {
    -webkit-transform: translate3d(-1000px,650px,0) rotate(290deg);
   }
   /* work around a Android/Honeycomb bug applying the animation-fill
    * property by just leaving the animation in the end state for a long
    * while. */
   100% {
    -webkit-transform: translate3d(-1000px,650px,0) rotate(290deg);
   }
}
@-moz-keyframes balloon-squirt {
   0% {
    -moz-transform: translate(0,0) rotate(0deg);
   }
   1% {
    -moz-transform: translate(71px,-71px) rotate(40deg);
   }
   2% {
    -moz-transform: translate(190px,-120px) rotate(90deg);
   }
   3% {
    -moz-transform: translate(350px,10px) rotate(160deg);
   }
   4% {
    -moz-transform: translate(370px,250px) rotate(180deg);
   }
   5% {
    -moz-transform: translate(300px,500px) rotate(230deg);
   }
   6% {
    -moz-transform: translate(100px,700px) rotate(250deg);
   }
   7% {
    -moz-transform: translate(-400px,750px) rotate(275deg);
   }
   8% {
    -moz-transform: translate(-1000px,650px) rotate(290deg);
   }
   100% {
    -moz-transform: translate(-1000px,650px) rotate(290deg);
   }
}
#balloons > .squirt > .balloon {
  -webkit-animation: balloon-squirt 15625ms linear forwards;
  -moz-animation: balloon-squirt 15625ms linear forwards;
  -webkit-transform-origin: 74px 83px;
  -moz-transform-origin: 74px 83px;
}

@-webkit-keyframes payload-drop {
   0% {
     -webkit-transform: translate3d(0,0,0);
     opacity: 1;
   }
   1% {
     -webkit-transform: translate3d(0,200px,0);
     opacity: 0;
   }
   /* work around a Android/Honeycomb bug applying the animation-fill
    * property by just leaving the animation in the end state for a long
    * while. */
   100% {
     -webkit-transform: translate3d(0,200px,0);
     opacity: 0;
   }
}
@-moz-keyframes payload-drop {
   0% {
     -moz-transform: translate(0,0);
     opacity: 1;
   }
   1% {
     -moz-transform: translate(0,200px);
     opacity: 0;
   }
   100% {
     -moz-transform: translate(0,200px);
     opacity: 0;
   }
}
#balloons .payload-dropped .payload {
  -webkit-animation: payload-drop 25000ms ease-in forwards;
  -moz-animation: payload-drop 25000ms ease-in forwards;
}

/* ------------ nell breathing animation ---------- */

/* keyframe animation of nell, w/ inspiration from
   http://samuli.hakoniemi.net/having-fun-with-css-keyframes/ */
@-webkit-keyframes nell-breathe-head {
    0% {
        -webkit-transform: rotate(-0.75deg) translate3d(0px, 0px, 0px);
    }
    40% {
        -webkit-transform: rotate(1.5deg) translate3d(0px, -1px, 0px);
    }
    100% {
        -webkit-transform: rotate(-0.75deg) translate3d(0px, 0px, 0px);
    }
}
@-moz-keyframes nell-breathe-head {
    0% {
        -moz-transform: rotate(-0.75deg) translate(0px, 0px);
    }
    40% {
        -moz-transform: rotate(1.5deg) translate(0px, -1px);
    }

    100% {
        -moz-transform: rotate(-0.75deg) translate(0px, 0px);
    }
}
@-webkit-keyframes nell-breathe-body {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
    }

    40% {
        -webkit-transform: translate3d(0px,-3px,0px);
    }

    100% {
        -webkit-transform: translate3d(0px,0px,0px);
    }
}
@-moz-keyframes nell-breathe-body {
    0% {
        -moz-transform: translate(0px,0px);
    }

    40% {
        -moz-transform: translate(0px,-3px);
    }

    100% {
        -moz-transform: translate(0px,0px);
    }
}
.anim #nell .ground .nell,
.anim #nell .troposphere .nell {
    -webkit-animation: nell-breathe-body 3000ms infinite both ease-in-out;
    -moz-animation: nell-breathe-body 3000ms infinite both ease-in-out;
}
.anim #nell .ground .head,
.anim #nell .ground .hair,
.anim #nell .troposphere .head,
.anim #nell .troposphere .hair {
    -webkit-animation: nell-breathe-head 3000ms infinite both ease-in-out;
    -moz-animation: nell-breathe-head 3000ms infinite both ease-in-out;
    -webkit-transform-origin: 140px 148px;
    -moz-transform-origin: 140px 148px;
}

/* ----------- hot air balloon animation --------- */
@-webkit-keyframes hotair-bob {
    0% {
      -webkit-transform: rotate(-1deg);
    }
    50% {
      -webkit-transform: rotate(1deg) translate3d(-5px,-5px,0);
    }
    100% {
      -webkit-transform: rotate(-1deg);
    }
}
@-moz-keyframes hotair-bob {
    0% {
      -moz-transform: rotate(-1deg);
    }
    50% {
      -moz-transform: rotate(1deg) translate(-5px,-5px);
    }
    100% {
      -moz-transform: rotate(-1deg);
    }
}
.anim #nell .troposphere {
    -webkit-animation: hotair-bob 15s infinite both ease-in-out;
    -moz-animation: hotair-bob 15s infinite both ease-in-out;
}
/* ----------- jet animation --------- */
@-webkit-keyframes jet-bob {
    0% {
      -webkit-transform: rotate(8deg) translate3d(-10px,0,0);
    }
    50% {
      -webkit-transform: rotate(0deg) translate3d(0px,-20px,0);
    }
    100% {
      -webkit-transform: rotate(8deg) translate3d(-10px,0,0);
    }
}
@-moz-keyframes jet-bob {
    0% {
      -moz-transform: rotate(8deg) translate(-10px,0);
    }
    50% {
      -moz-transform: rotate(0deg) translate(0px,-20px);
    }
    100% {
      -moz-transform: rotate(8deg) translate(-10px,0);
    }
}
.anim #nell .stratosphere {
    -webkit-animation: jet-bob 20s infinite both ease-in-out;
    -moz-animation: jet-bob 20s infinite both ease-in-out;
}
/* ----------- astronaut animation --------- */
@-webkit-keyframes astronaut-bob {
    0% {
      -webkit-transform: translate3d(0,0,0);
    }
    50% {
      -webkit-transform: rotate(5deg) translate3d(0px,-47px,0);
    }
    100% {
      -webkit-transform: translate3d(0,0px,0);
    }
}
@-moz-keyframes astronaut-bob {
    0% {
      -moz-transform: translate(0,0);
    }
    50% {
      -moz-transform: rotate(5deg) translate(0px,-47px);
    }
    100% {
      -moz-transform: translate(0,0);
    }
}
.anim #nell .mesosphere .astronaut {
    -webkit-animation: astronaut-bob 20s infinite both ease-in-out;
    -moz-animation: astronaut-bob 20s infinite both ease-in-out;
}

/* ----------- cloud divider animation ----------- */
@-webkit-keyframes clouds-drift {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1109px 0px;
  }
}
@-moz-keyframes clouds-drift {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1109px 0px;
  }
}
.grass #clouds > div {
  -webkit-animation: clouds-drift 180s infinite normal none linear;
  -moz-animation: clouds-drift 180s infinite normal none linear;
}
.grass #clouds > .stratosphere {
  -webkit-animation-delay: -60s;
  -webkit-animation-duration: 160s;
  -moz-animation-delay: -60s;
  -moz-animation-duration: 160s;
}
.grass #clouds > .mesosphere {
  -webkit-animation-delay: -120s;
  -webkit-animation-duration: 140s;
  -moz-animation-delay: -120s;
  -moz-animation-duration: 140s;
}
.grass #clouds > .stars,
.grass #clouds > .grass {
  -webkit-animation: none;
  -moz-animation: none;
}

/* ----------- bug animation ----------- */
@-webkit-keyframes bug-shake {
    0% {
      -webkit-transform: rotate(1deg) translate3d(0,0,0);
    }
    50% {
      -webkit-transform: rotate(-1deg) translate3d(0,0,0);
    }
    100% {
      -webkit-transform: rotate(1deg) translate3d(0,0,0);
    }
}
@-moz-keyframes bug-shake {
    0% {
      -moz-transform: rotate(1deg);
    }
    50% {
      -moz-transform: rotate(-1deg);
    }
    100% {
      -moz-transform: rotate(1deg);
    }
}
.grass #clouds > .bug {
    -webkit-animation: none;
    -moz-animation: none;
}
.anim .grass #clouds > .bug {
    -webkit-animation: bug-shake 5000ms infinite both ease-in-out;
    -moz-animation: bug-shake 5000ms infinite both ease-in-out;
    -webkit-transform-origin: center right;
    -moz-transform-origin: center right;
}

/* ----------- cloud and satellite background animation ----------- */
@-webkit-keyframes background-drift {
  0% {
    -webkit-transform: translate3d(-800px,0,0);
  }
  100% {
    -webkit-transform: translate3d(0px,0,0);
  }
}
@-moz-keyframes background-drift {
  0% {
    -moz-transform: translate(-800px,0);
  }
  100% {
    -moz-transform: translate(0px,0);
  }
}
.grass #background .cloud,
.grass #background .satellite1,
.grass #background .satellite2 {
  -webkit-animation: background-drift 200s infinite normal none linear;
  -moz-animation: background-drift 200s infinite normal none linear;
}

/* ------------------ menu layout ---------------------- */
#menu .nells,
#menu .clouds,
#menu .awards {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
}
#menu .ground,
#menu .troposphere,
#menu .stratosphere,
#menu .mesosphere {
  position: absolute;
  left: 0; right: 0;
  height: 25%;
}
#menu .ground { bottom: 0; }
#menu .troposphere { bottom: 25%; }
#menu .stratosphere { bottom: 50%; }
#menu .mesosphere { bottom: 75%; }

#menu .level > .background {
  position: absolute;
  width: 400%; height: 400%;
  bottom: 0; left: 0;
  background-repeat: repeat-x;
  background-position: bottom;
  -webkit-transform: scale(0.25,0.25);
  -webkit-transform-origin: bottom left;
  -moz-transform: scale(0.25,0.25);
  -moz-transform-origin: bottom left;
  transform: scale(0.25,0.25);
  transform-origin: bottom left;
}
#menu .level.grass > .background {
  background-color: #000;
  background-image: url('images/grass-back.png');
  background-image: -webkit-linear-gradient(to top, #0ff, #0ff 9%, #00f 17%, #00f 28%, #008 50%, #000 100%);
  background-image: -moz-linear-gradient(to top, #0ff, #0ff 9%, #00f 17%, #00f 28%, #008 50%, #000 100%);
}
#menu .level.grass > .background .stars {
  position: absolute; left: 0; top: 0; height: 25%; width: 25%;
  background: url('images/star-tile.png') repeat;
  -webkit-transform: scale(4,4);
  -webkit-transform-origin: top left;
  -moz-transform: scale(4,4);
  -moz-transform-origin: top left;
  transform: scale(4,4);
  transform-origin: top left;
}
#menu .nells .ground .nell {
  position: absolute;
  bottom: 19px; right: 13px;
  -webkit-transform: scale(.433,.433);
  -webkit-transform-origin: bottom right;
  -moz-transform: scale(.433,.433);
  -moz-transform-origin: bottom right;
}
#menu .nells .troposphere .hotair {
  position: absolute;
  bottom: -4px; right: -35px;
  -webkit-transform: scale(.445,.445);
  -webkit-transform-origin: bottom right;
  -moz-transform: scale(.445,.445);
  -moz-transform-origin: bottom right;
}
#menu .nells .stratosphere .jet {
  position: absolute;
  bottom: 84px; right: -118px;
  -webkit-transform: scale(.508,.508) rotate(8deg);
  -webkit-transform-origin: bottom right;
  -moz-transform: scale(.508,.508) rotate(8deg);
  -moz-transform-origin: bottom right;
}
#menu .nells .mesosphere .astronaut {
  position: absolute;
  bottom: 10px; right: -90px;
  -webkit-transform: scale(.522,.522);
  -webkit-transform-origin: bottom right;
  -moz-transform: scale(.522,.522);
  -moz-transform-origin: bottom right;
}
#menu .sprout {
  position: absolute;
  background-image: url('images/sprout1-lgr.png');
  width: 326px; height: 1207px;
  bottom: 30px; left: 13px;
}
#menu .clouds .grass {
  position: absolute; bottom: 0; left: 0;
  width: 200%;
  background-repeat: repeat-x;
  -webkit-transform: scale(0.5,0.5);
  -webkit-transform-origin: bottom left;
  -moz-transform: scale(0.5,0.5);
  -moz-transform-origin: bottom left;
}
#menu .level.grass .clouds .grass {
  height: 243px;
  background-image: url('images/grass-front.png');
}
#menu .clouds .cloudshade,
#menu .clouds .cloudshade > * {
  position: absolute; left: 0; right: 0;
}
#menu .clouds .cloudshade {
  top: 0;
  height: 100%; /* overridden below */
 -webkit-transition: height 1s ease-in-out;
 -moz-transition: height 1s ease-in-out;
 transition: height 1s ease-in-out;
}
/* set cloudshade to all the classes you want to expose */
#menu .exposed-ground       .clouds .cloudshade { height: 75%; }
#menu .exposed-troposphere  .clouds .cloudshade { height: 50%; }
#menu .exposed-stratosphere .clouds .cloudshade { height: 25%; }
#menu .exposed-mesosphere   .clouds .cloudshade { height: 0;   }
#menu .clouds .cloudshade .top {
  top: 0; bottom: 225px;
  background: url('images/cloud-tile.png') repeat;
  background-position: bottom left;
}
#menu .clouds .cloudshade .bottom {
  /* overhang bottom of element a little bit */
  bottom: -25px; height: 250px;
  background: url('images/cloud-tile-bottom.png') repeat-x;
}

#menu .awards > * {
  visibility: hidden;
  -webkit-transition: visibility 0s linear 1s;
  -moz-transition: visibility 0s linear 1s;
  transition: visibility 0s linear 1s;
}
#menu .exposed-ground .awards > .ground,
#menu .exposed-troposphere .awards > .ground,
#menu .exposed-troposphere .awards > .troposphere,
#menu .exposed-stratosphere .awards > .ground,
#menu .exposed-stratosphere .awards > .troposphere,
#menu .exposed-stratosphere .awards > .stratosphere,
#menu .exposed-mesosphere .awards > * {
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
#menu .awards .stars {
  position: absolute;
  bottom: 50%; height: 92px; margin-bottom: -46px;
  left: 50%; width: 390px; margin-left: -180px; /* left: 234px */
  text-align: center; white-space: nowrap;
}
#menu .awards .stars .star {
  display: inline-block;
  width: 102px; height: 92px;
  margin: 0 14px;
  background: url('images/star-outline.png') no-repeat;
}
#menu .awards .stars.one .star:first-child,
#menu .awards .stars.two .star:first-child,
#menu .awards .stars.two .star:first-child + .star,
#menu .awards .stars.three .star:first-child,
#menu .awards .stars.three .star:first-child + .star,
#menu .awards .stars.three .star:first-child + .star + .star {
  background-image: url('images/star.png');
}
#menu .awards .tag {
  position: absolute; bottom: 50%; left: 27px;
  width: 150px; height: 120px;
  margin-bottom: -65px; /* cheat down 5px */
  background: url('images/tag-white-empty.png') no-repeat;
  display: block;
}
#menu .awards .tag.hover {
  /* use CSS to do tag highlighting */
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 10px 10px rgba(255,255,255,0.6);
  -moz-box-shadow: 0 0 10px 10px rgba(255,255,255,0.6);
  box-shadow: 0 0 10px 10px rgba(255,255,255,0.6);
  background-color: rgba(255,255,255,0.8);
}
/* tags from grass level */
#menu .level.grass .awards .ground .tag {
  background-image: url('images/tag-orange-solid.png');
}
#menu .level.grass .awards .troposphere .tag {
  background-image: url('images/tag-orange-orange.png');
}
#menu .level.grass .awards .stratosphere .tag {
  background-image: url('images/tag-white-orange.png');
}
#menu .level.grass .awards .mesosphere .tag {
  background-image: url('images/tag-white-orange-bw.png');
}
/* pulse the tags to make it clear they are touchable */
@-webkit-keyframes menu-tag-throb {
  0% {
    -webkit-transform: scale(1) translate3d(0,0,0);
  }
  100% {
    -webkit-transform: scale(0.8) translate3d(0,0,0);
  }
}
@-moz-keyframes menu-tag-throb {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.8);
  }
}
.menu #menu .awards .tag {
  -webkit-animation: menu-tag-throb 1s infinite alternate ease-in;
  -moz-animation: menu-tag-throb 1s infinite alternate ease-in;
}
#menu .awards .tag.hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
}
#menu .clouds,
#menu .sprout,
#menu .awards,
#menu .ground,
#menu .troposphere,
#menu .stratosphere,
#menu .mesosphere {
  pointer-events: none;
}
#menu .awards .tag { pointer-events: all; }
.nells > div > div { pointer-events: all; }

/* ------- "please rotate" animation -------- */
#rotate,
#rotate .background,
#rotate .foreground {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-repeat: no-repeat;
  background-position: center right;
}
#rotate .background {
  background-image: url('images/xoom-rotate-bg.png');
}
#rotate .foreground {
  background-image: url('images/xoom-rotate-fg.png');
}
@-webkit-keyframes rotate-throb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes menu-star-throb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rotate #rotate .background {
  -webkit-animation: rotate-throb 1s infinite alternate ease;
  -moz-animation: rotate-throb 1s infinite alternate ease;
}
